/* GENERAL */
body
{
    margin-top: 0;
    /*margin-left: 15px;*/
    font-family: 'Raleway';
}
.flexCentre
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround
{
    display: flex;
    justify-content: space-around;
}
.flexBetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.borderNone
{
    border: none;
}
.textBold
{
    font-weight: bold;
}

.colorBlue
{
    color: #0065fc;
}
.colorLightBlue
{
    color: #deebff;
}
.colorGrey
{
    color: #f2f2f2;
}
.backBlue
{
    background-color: #0065fc;
}
.backLightBlue
{
    background-color: #deebff;
}
.backGrey
{
    background-color: #f2f2f2;
}


/* NAVIGATION BAR */
.logo
{
    width: 120px;
    height: 50px;
    margin-bottom: 7px;
}
.sizeNav
{
    height: 100px;
}
.sizeLinks
{
    width: 45%;
}
.colorLink13
{
    color: #0065fc;
}
.colorLink2
{
    color: black;
}
.decorationNone
{
    text-decoration: none;
}
.sizeLink
{
    width: 140px;
    height: 99px;
}
.borderNav
{
    border-top: 2px solid #0065fc;
}
.borderNav23
{
    border-top: 2px solid transparent;
}

/* HEADER */
header
{
    margin-left: 10px;
}
.borderSearch
{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}
.paddingSearch
{
    padding-left: 20px;
}
.search
{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.iconSize
{
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}
.buttonSearch
{
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

/* FILTER */
.margFilter
{
    margin-top: 50px;
    margin-bottom: 40px;
}
.filter
{
    display: flex;
    align-items: center;
}
.margFilterTitle
{
    margin-right: 20px;
}
.filterTextIcons
{
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.filterTextIcons:hover > .filterText
{
    color: #0065fc;
}
.filterTextIcons:hover > .filterIcons
{
    color: white;
    background-color: #0065fc;
}
.filterText
{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}
.filterIcons
{
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
}

/* INFO */
.info
{
    display: flex;
    align-items: center;
}
.divIcon
{
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}