/* GENERAL */
*
{
    font-family: 'Raleway', sans-serif;
}
.flexCentre
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround
{
    display: flex;
    justify-content: space-around;
}
.flexBetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* NAVIGATION BAR */
.logo
{
    width: 120px;
    height: 50px;
    margin-bottom: 7px;
}
.sizeNav
{
    height: 100px;
}
.sizeLinks
{
    width: 45%;
}
.colorLink13
{
    color: #0065fc;
}
.colorLink2
{
    color: black;
}
.decorationNone
{
    text-decoration: none;
}
.sizeLink
{
    width: 140px;
    height: 99px;
}
.borderNav
{
    border-top: 1px solid #0065fc;
}
.borderNav23
{
    border-top: 1px solid transparent;
}