/* GENERAL */
body
{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.flexCentre
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround
{
    display: flex;
    justify-content: space-around;
}
.flexBetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.borderNone
{
    border: none;
}
.textBold
{
    font-weight: bold;
}
.colorBlue
{
    color: #0065fc;
}
.colorLightBlue
{
    color: #deebff;
}
.colorGrey
{
    color: #f2f2f2;
}
.backBlue
{
    background-color: #0065fc;
}
.backLightBlue
{
    background-color: #deebff;
}
.backGrey
{
    background-color: #f2f2f2;
}


/* NAVIGATION BAR */
.logo
{
    width: 120px;
    height: 50px;
    margin-bottom: 7px;
}
.sizeNav
{
    height: 100px;
}
.sizeLinks
{
    width: 100%;
}
.sizeLink
{
    width: 140px;
    height: 99px;
}
.colorLink13
{
    color: #0065fc;
}
.colorLink2
{
    color: black;
}
.decorationNone
{
    text-decoration: none;
}
.sizeLink12
{
    margin-left: 60%;
}
.sizeLink
{
    width: 140px;
    height: 99px;
}
.borderNav
{
    border-top: 2px solid #0065fc;
}
.borderNav23
{
    border-top: 2px solid transparent;
}

/* HEADER */
header
{
    margin-left: 10px;
}
.borderSearch
{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}
.paddingSearch
{
    padding-left: 20px;
}
.search
{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.iconSize
{
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}
.buttonSearch
{
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
.iconSearch
{
    height: 50px;
    width: 50px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

/* FILTER */
.margFilter
{
    margin-top: 50px;
    margin-bottom: 40px;
}
.filter
{
    display: flex;
    align-items: center;
}
.margFilterTitle
{
    margin-right: 20px;
}
.filterTextIcons
{
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.filterTextIcons:hover > .filterText
{
    color: #0065fc;
}
.filterTextIcons:hover > .filterIcons
{
    color: white;
    background-color: #0065fc;
}
.filterText
{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
    font-weight: bolder;
}
.filterIcons
{
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
}

/* INFO */
.info
{
    display: flex;
    align-items: center;
}
.divIcon
{
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}

/* HOSTING SECTION */
#hosting
{
    margin-top: 37px;
    margin-left: 10px;
    margin-bottom: 50px;
    margin-right: 10px;
}
.hosting
{
    height: 650px;
    border-radius: 10px;
    margin-right: 10px;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 2;
}
.hosting h4
{
    font-weight: bold;
    font-size: 1.5em;
}
.hosting-links-part
{
    background-color: #fff;
    width: 30%;
    height: auto;
    padding: 1%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hosting-links-part:hover
{
    cursor: pointer;
    transform: scale(1.1);
}
.bloc1
{
    margin-bottom: 10px;
}
.imgHosting1
{
    background-image: url("images/cannebière.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.imgHosting2
{
    background-image: url("images/port.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.imgHosting3
{
    background-image: url("images/mouettes.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.bloc2
{
    margin-top: 10px;
}
.imgHosting4
{
    background-image: url("images/mer.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.imgHosting5
{
    background-image: url("images/panier.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.imgHosting6
{
    background-image: url("images/amina.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.detailsHosting
{
    width: 90%;
}

/* POPULARITY */
.popularity
{
    padding: 0 20px;
    flex: 1;
    height: 650px;
    margin-left: 10px;
    border-radius: 10px;
    display: block;
}
.bloc3
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.blocPopularity
{
    background-color: #fff;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
}
.blocPopularity:hover
{
    cursor: pointer;
    transform: scale(1.1);
}
.blocPopularity12
{
    margin-bottom: 22px;
}
.imgPopularity1
{
    background-image: url("images/matin.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}
.imgPopularity2
{
    background-image: url("images/eau.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}
.imgPopularity3
{
    background-image: url("images/bleublanc.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}
.detailsPopularity
{
    width: 60%;
    padding-left: 5%;
}

/* ACTIVITIES */
#activities
{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#activities h2
{
    margin-bottom: 20px;
}
.activities
{
    margin-top: 50px;
    margin-bottom: 50px;
}
.blocActivities
{
    width: 100%;
    height: 600px;
    margin-bottom: 25px;
}
.cubeActivities
{
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.blocActivities2356
{
    width: 23%;
    height: 600px;/* !!!*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cubeActivities2356
{
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.titleActivities
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
    height: 70px;
}
.imgActivities1
{
    background-image: url('images/vieux_port.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.imgActivities2
{
    background-image: url('images/pomégues.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 240px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.imgActivities3
{
    background-image: url('images/frioul.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 180px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.imgActivities4
{
    background-image: url('images/calanques.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.imgActivities5
{
    background-image: url('images/notre_dame.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 180px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.imgActivities6
{
    background-image: url('images/parc.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 240px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.cubeActivities:hover
{
    cursor: pointer;
    transform: scale(1.05);
}
.cubeActivities2356:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

/* FOOTER */
footer
{
    background-color: #f2f2f2;
}
.columns
{
    height: 300px;
    margin-top: 20px;
    /*background-color: #f2f2f2*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column-1
{
    margin-left: 5%;
    height: 150px;
    display: block;
}
.column-2
{
    height: 150px;
    display: block;
}
.column-3
{
    margin-right: 15%;
    height: 150px;
    display: block;
}
.column-1, .column-2, .column-3 p
{
    font-size: 17px;
}
.column-1, .column-2, .column-3 h3
{
    font-size: 17px;
}
.column-1 a
{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.column-2 a
{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.column-3 a
{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}


/* PARTIE MOBILE RESPONSIVE */
@media screen and (max-width: 1295px){
    .popularity
    {
        min-height: auto;
        padding: 20px;
    }
    .sizeLink12
    {
        margin-left: 35%;
    }
    .detailsHosting
    {
        min-height: 150px;
    }
    .sizeHostings
    {
        min-height: auto;
        padding: 20px;
    }
    .tabletSizeTitlePop
    {
        margin-top: 0px;
    }
}

@media screen and (max-width: 980px){
    .mobileFilterWrap
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .filterTextIcons
    {
        margin-bottom: 20px;
    }
    #hosting
    {
        flex-direction: column-reverse;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .popularity
    {
        flex: none;
        width: 90%;
        margin-left: 0;
        padding: 5%;
        background-color: #f2f2f2;
        border-radius: 0;
    }
    .hosting
    {
        flex: none;
        width: 90%;
        margin-right: 0;
        margin-top: 25px;
        padding: 5%;
    }
}

@media screen and (max-width: 770px){
    .sizeLinks
    {
        width: 90%;
    }
    .sizeLink12
    {
        margin-left: 20%;
    }
    #hosting
    {
        margin-left: 0;
        margin-right: 0;
    }
    .hosting
    {
        height: auto;
        background-color: white;
    }
    .popularity
    {
        border-radius: 0;
    }
    .bloc1
    {
        flex-direction: column;
        margin-bottom: 0;
    }
    .bloc2
    {
        flex-direction: column;
        margin-top: 0;
    }
    .hosting-links-part
    {
        width: 100%;
        margin-bottom: 50px;
        box-shadow: 5px 5px 5px 1px #f2f2f2;
    }
    .detailsHosting
    {
        min-height: auto;
    }
    .blocActivities
    {
        flex-direction: column;
        height: auto;
    }
    .cubeActivities
    {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
    }
    .blocActivities2356
    {
        width: 100%;
        height: auto;
        margin-bottom: 0px;
    }
    .cubeActivities2356
    {
        margin-bottom: 20px;
    }
    .imgActivities1, .imgActivities2, .imgActivities3, .imgActivities4, .imgActivities5, .imgActivities6
    {
        height: 200px;
    }
    .cubeActivities:hover
    {
        cursor: pointer;
        transform: scale(1.01);
    }
    .cubeActivities2356:hover
    {
        cursor: pointer;
        transform: scale(1.01);
    }
    .columns
    {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }
    .column-1
    {
        margin-left: 0;
        margin-bottom: 30px;
        margin-top: 20px;
    }
}

@media screen and (min-width: 601px){
    .iconSearch
    {
        display: none;
    }
}

@media screen and (max-width: 600px){
    .buttonSearch
    {
        display: none;
    }
    .borderSearch
    {
        justify-content: left;
        width: 330px;
    }
    .sizeNav
    {
        height: auto;
    }
    .sizeLink
    {
        flex-direction: column;
    }
    .sizeLink12
    {
        order: 1;
        width: 100%;
        margin-left: 0;
    }
    .sizeLinkMobile
    {
        width: 50%;
    }
    .sizeLinks
    {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sizeLink1
    {
        width: 50%;
        border-bottom: 2px solid #0065fc;
        border-top: none;
    }
    .sizeLink2
    {
        width: 50%;
        border-bottom: 2px solid #f2f2f2;
    }
}

@media screen and (max-width: 401px){
    .mobileFilterWrap2
    {
        flex-direction: column;
        align-items: flex-start;
    }
}